@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* globals.css */
.parallax {
  position: relative;
}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./../public/cine-background.webp"); /* Ruta correcta a tu imagen */
  background-size: cover;
  background-position: center;
  filter: brightness(70%) blur(5px); /* Ajusta el brillo y desenfoque de la imagen de fondo */
}
.parallax-content {
  position: relative;
  /* z-index: 2; */
  color: #fff; /* Cambia el color del texto para que resalte más */
}

.container {
  width: 100%;
  min-width: 100%;
  overflow: hidden; /* Oculta lo que sale del contenedor */
}

.slider {
  display: flex;
  gap: 50px;
  width: max-content; /* Asegura que se expande según el contenido */
  animation: scroll 120s linear infinite; /* Animación continua */
}

@keyframes scroll {
  0% {
    transform: translateX(0); /* Comienza en la posición original */
  }
  100% {
    transform: translateX(
      -50%
    ); /* Desplaza las tarjetas hacia la izquierda hasta la mitad */
  }
}

@media (width < 640px) {
  .query {
    height: auto;
    text-align: center;
    padding-inline: 15px;
  }

  .input {
    width: 300px;
    min-width: none;
  }

  .resutlInput {
    width: 320px;
  }
}

@media (width < 650px) {
  .poster {
    height: 250px;
  }
}

@media (width < 610px) {
  .poster {
    margin-bottom: 50px;
  }
}

@media (width < 380px) {
  .input {
    width: 280px;
    min-width: none;
  }
}
